gradio
transformers
torch
torchaudio
accelerate
librosa
soundfile
numpy
python-dotenv
fastapi
uvicorn
requests
git+https://github.com/salute-developers/GigaAM.git
imageio-ffmpeg
matplotlib
scipy
pyannote.audio

